*{
    margin: 0;padding: 0;
    box-sizing: border-box;

}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
#red-heart{
    color: red;
    opacity: .8;
    
}
.hr{
    position: absolute;
    top: 35%;left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-none{
    display:none;
}