*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    color: #ffffff;
    box-sizing: border-box;
}
header{
    background-color: red;
    height: 70px;

}
.navBar{
    background-color: #5a5454;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}
.title{
    display: inline-block;
    /* background-color: red; */
    padding: 20px 60px ;
    height: auto;
    text-align: center;
    font-size: 30px;
}
.list{
    /* display: inline-block; */
    float: right;
    margin: 0 0 53px 0;
    
}
.list ul li
{   
    
    padding: 10px 20px;
    display: inline-block;
}
.list ul li:hover{
    color: rgb(0, 0, 255);
    border-bottom: solid #265097;
}
.containt{
    margin: 100px;
    width: 50%;
    height: auto;
    display: inline-block;
    text-align: justify;
}

h1{
    font-size: 45px;
}
p{
    font-size: 20px;
}
.img{
    /* display: inline-block; */
    width: 500px;
    margin-top: 20px;
    float: right;
    height: auto;
    margin-right: 33px;
    margin-top: 300px;
}
img{
    width: 500px;
    /* position: relative; */
    
}

footer{
    background-color: rgba(148, 143, 143, 0.146);
    height: 150px;
    padding: 23px;
    text-align: center;
}
.btn{
    background-color: #265097;
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    margin-top: 40px;
    color: whitesmoke;
}
.btn:hover{
    background-color: #18325e;
    border-bottom: 4px solid rgb(13, 0, 152);
    border: 4px solid rgb(13, 0, 152);
}