body{
    margin: 0;padding: 0;
}
nav{
    /* background-color: red; */
    display: flex;
    height: 64px;
    font-size: 23px;
}
.meet
{
    margin: 15px 0 0 20px;
    display: flex;
    align-items: center;

}
img{
    width: 24px;
    height: 24px;
}
.logo{
    width: 124px;
    height: 40px;
    /* margin: 20px 0 0 20px; */
}
.right-containt{
    letter-spacing: 1px;
    margin:15px 0 0 750px;
    display: flex;
    font-size:18px;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}
.right-containt img{
   

}
.matrix{
    padding-left: 20px !important;
}
.profile{
    background-color: green;
    text-align: center;
    padding: 5px 2px 1px 2px;
    width: 24px;
    height: 24px;
    color: white;
    border-radius: 50%;

}
.main{
    display: flex;
    margin-top: 40px;
    height: 539px;
    /* justify-content: space-evenly; */
}
.left{
    width: 558px;
    margin: 50px 0 0 50px;

}.left h1{
    color: #212020;
    font-size: 44px;
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
}
.left p{
    color: #5e6268;
    margin-top:30px ;
    font-size: 18px;
}
.left button{
    width: 154px;

    height:48px;
    margin-top: 34px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color:#1a72e9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input{
    border-radius: 5px;
    width: 256px;
    font-size: 16px;
    outline: none;
    padding: 0 0 0 12px;
    border: 1px solid rgb(142, 142, 142);
    height: 48px;
    margin:0 0 34px 23px;
}
input:focus{
    border: 1px solid  black;
}
.line{
    border-top: 1px solid rgba(106, 106, 106, 0.384);
}
.left span{
    color: #1a72e9;
    padding-right: 8px;
    cursor: pointer;
}
.left span:hover{
    text-decoration: underline;
}
.right{
    /* background-color: red; */
    height: auto;
    margin: 23px 0 0 220px;
    text-align: center;
}
.right img{
    width: 330px;
    height: 330px;
    font-family: sans-serif;
}
.right h3{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 100;
}