body{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 210, 210);
}
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
    
    box-shadow: 4px 0px 10px black;
}
header:hover{

    font-size: 2em  ;
    transition: font-size .5s ease-out;
}
.calculator{
    width: 300px;
    height: 500px;
    background-color: black;
    margin: 30px auto ;
    box-shadow: 4px 2px 10px black,-4px -2px 10px rgb(156, 148, 148);
    border-radius: 15px;
    border: 1px solid black;
}
input[type=text]{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    padding: 20px;
    font-size: 32px;
    margin-top: 150px;
    text-align: right;
    color: white;
    border-bottom: 2px solid rgb(48, 46, 46);
}
button{
    width: 56px;
    height: 56px;
    font-size: 23px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    margin: 5px;
    transition: border 1s ease-in-out;
    box-shadow: 0px 8px 15px rgba(186, 178, 178, 0.1);

}
button:hover{
    border: 1px solid rgb(116, 113, 113);
    background-color: rgb(63, 62, 62);
    transition: border 1s ease-in-out;
    color: rgb(255, 255, 255);
}
.equal_btn{
    background-color: rgb(243, 243, 49);
    color: black;
}
.equal_btn:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(245, 245, 60);
}

.btns{
   margin:5px  0 0 9px;
    /* background-color: rgb(85, 79, 79); */

}
