body{
    margin: 0;padding: 0;
}
.landing_page{
    text-align: center;
    background-color: bisque;
    height: 100%;
}
ul{
    list-style-type: none;
}
h1{
    background-color: rgba(0, 0, 0, 0.397);
    height: 50px;
    color: white;
}
p{
    text-align: center;
}
h3{
    text-align: left;
    margin-left: 45px;
}
.courses{
    background-color: azure;
    padding-left: 40%;
}
li{
    text-align: left;
}
button{
    width: auto;
    padding: 10px 32px;
    font-size: 23px;
    background-color: blue;
    color: wheat;
    border-radius: 13px;
}
